#body{
    font-family: "Noto Sans CJK KR";
}

/*-----------------banner-----------------*/

#banner{
    padding-top:165px;
}

#banner .slideshow{
    background: #000;
    height: 265px;
    min-width: 560px;
    overflow: hidden;
    position: relative; 
}

#banner .slideshow .slideshow_slides{
    position: absolute;
    width: 100%;
    height: 100%;
}

#banner .slideshow .slideshow_slides a{
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
}

#banner .slideshow .slideshow_nav a{
    width: 71px;
    height: 71px;
    position: absolute;
    left:50%;
    top:50%;
    transform: translateY(-50%);
    background: url('img/sprites.png') no-repeat;
    text-indent: -9999em;
}

#banner .slideshow .slideshow_nav a.disabled{display:none;}

#banner .slideshow .slideshow_nav a.prev{
    background-position: 0px -20px;
    margin-left:-480px;
}

#banner .slideshow .slideshow_nav a.next{
    background-position: -81px -20px;
    margin-left:409px;
}

#banner .slideshow .indicator{
    position: absolute;
    bottom:10px;
    left:0;
    right:0;
    display:flex;
    justify-content: center;
}

#banner .slideshow .indicator a{
    width:8px;
    height:8px;
    margin:0 5px;
    background: url('img/sprites.png') no-repeat -114px -4px;
    text-indent: -9999em;
}

#banner .slideshow .indicator a.active{
    background-position: -134px -4px;
}

/*-----------------content1 왼쪽텍스트 및 이미지-----------------*/

#content1 {
    background: white;
    width: 1000px;
    height: 360px;
    margin: 0 auto;
    border: 1px solid #DDDDDD;
    margin-top:55px;
}

#content1 .text_container {
    position: relative;
    display: inline-block;
    height: 360px;
    width: 130px;
}

#content1 .text_container .text_container_notice {
    position: relative;
    display: block;
    margin: 30px 0px 35px 10px;
    text-decoration: none;
    font: bold 30px "Noto Sans CJK KR";
    color: #0066b3;
}

#content1 .text_container .text_container_team {
    position: relative;
    display: block;
    margin: 30px 0px 35px 10px;
    text-decoration: none;
    font: bold 20px "Noto Sans CJK KR";
    color: black;
}

#content1 .text_container img {
    position: absolute;
    left: 20px;
}

/*-----------------content1 공지사항 6개박스-----------------*/

#content1 .notice_container {
    position: absolute;
    display: inline-block;
    height: 300px;
    width: 860px;
    margin: 30px 0px 0px 20px;
    text-decoration: none;
}

#content1 .notice_container .notice_container1 {
    display: inline-block;
    position: relative;
}

#content1 .notice_container .notice_container1 a {
    display: inline-block;
    height: 110px;
    width: 250px;
    border: 1px solid #DDDDDD;
    box-shadow: 1px 1px 1px 1px #dddddd;
    margin-left: 20px;
    text-decoration: none;
    z-index: 0;
    box-sizing: border-box;
}

#content1 .notice_container .notice_container2 {
    position: relative;
    display: inline-block;
    top: 50px;
    position: relative;
}

#content1 .notice_container .notice_container2 a {
    display: inline-block;
    height: 110px;
    width: 250px;
    border: 1px solid #DDDDDD;
    margin-left: 20px;
    text-decoration: none;
    z-index: 0;
    box-sizing: border-box;
    box-shadow: 1px 1px 1px 1px #dddddd;
}

#content1 .notice_container a:hover {
    border-color: #0066b3;
    border-width: 5px;
    margin-left: 20px;
    box-shadow: none;
}

#content1 .notice_container img {
    position: absolute;
    margin-top: 50px;
    margin-left: 190px;
    visibility: hidden;
}

#content1 .notice_container a {
    text-overflow: ellipsis;
    display: inline-block;
    font-size: 15px;
    text-overflow: ellipsis;
    width: inherit;
    height: inherit;
    overflow: hidden;
    padding-top: 10px;
    padding-left: 10px;
}



/*-----------------content1 팀활동 6개박스-----------------*/

#content1 .team_container {
    position: absolute;
    display: inline-block;
    height: 300px;
    width: 860px;
    margin: 30px 0px 0px 20px;
    text-decoration: none;
    visibility: hidden;
}

#content1 .team_container .team_container1 {
    display: inline-block;
    position: relative;
}

#content1 .team_container .team_container1 a {
    display: inline-block;
    height: 110px;
    width: 250px;
    border: 1px solid #DDDDDD;
    margin-left: 20px;
    text-decoration: none;
    z-index: 0;
    box-sizing: border-box;
    box-shadow: 1px 1px 1px 1px #dddddd;
}

#content1 .team_container .team_container2 {
    display: inline-block;
    margin-top: 50px;
    position: relative;
    
}

#content1 .team_container .team_container2 a {
    display: inline-block;
    height: 110px;
    width: 250px;
    border: 1px solid #DDDDDD;
    margin-left: 20px;
    text-decoration: none;
    z-index: 0;
    box-sizing: border-box;
    box-shadow: 1px 1px 1px 1px #dddddd;
}

#content1 .team_container a:hover {
    border-color: #0066b3;
    border-width: 5px;
    margin-left: 20px;
}

#content1 .team_container img {
    position: absolute;
    margin-top: 50px;
    margin-left: 190px;
    visibility: hidden;
}

#content1 .team_container {
    position: absolute;
    display: inline-block;
    height: 300px;
    width: 860px;
    margin: 30px 0px 0px 20px;
}

#content1 .team_container1 {
    display: inline-block;
}

#content1 .team_container1 a {
    display: inline-block;
    height: 110px;
    width: 250px;
    border: 1px solid #DDDDDD;
    margin-left: 20px;
}

#content1 .team_container2 {
    display: inline-block;
    margin-top: 60px;
}

#content1 .team_container2 a {
    display: inline-block;
    height: 110px;
    width: 250px;
    border: 1px solid #DDDDDD;
    margin-left: 20px;
}

#content1{
    box-shadow: 10px;
}

#content1 .team_container a{
    display: inline-block;
    padding-top:10px;
    padding-left: 10px;
    font-size: 15px;
    text-overflow: ellipsis;
    width: inherit;
    height: inherit;
    overflow: hidden;
}


/*-----------------content2-----------------*/

#content2 {
    background: white;
    width: 1000px;
    height: 360px;
    margin: 0 auto;
    border: none;
    margin-top: 55px;
    position:relative;
   
}

#content2::before 
{
  position: absolute;
  content : "";
  height:100%;
  width:33.333%;
  border-radius:10%;
  opacity:0.5;
  filter: blur(50px);
    
  background-color:#90c01a;
    z-index: -1;
    animation : backglow1 15s ease infinite;    
    
}



@keyframes backglow1
{
  
  0%
  {
    transform: translate(3%, 3%) scale(0.93);
    opacity:0.6;
  }
  
   25%
  {
    transform: translate(-3%, 3%) scale(0.9);
    opacity:0.5;
  }
  
   50%
  {
    transform: translate(-3%, -3%) scale(0.87);
    opacity:0.7;
  }
  
   75%
  {
    transform: translate(3%, -3%) scale(0.9);
    opacity:0.5;
  }
  
   100%
  {
    transform: translate(3%, 3%) scale(0.93);
    opacity:0.4;
  }
  
  
}

@keyframes backglow2
{
  
  0%
  {
    transform: translate(3%, 3%) scale(0.93);
    opacity:0.7;
  }
  
   25%
  {
    transform: translate(3%, -3%) scale(1);
    opacity:0.2;
  }
  
   50%
  {
    transform: translate(-3%, -3%) scale(0.93);
    opacity:0.5;
  }
  
   75%
  {
    transform: translate(-3%, 3%) scale(1);
    opacity:0.7;
  }
  
   100%
  {
    transform: translate(3%, -3%) scale(0.93);
    opacity:0.4;
  }
}

@keyframes backglow3
{
  
  0%
  {
    transform: translate(3%, 3%) scale(0.93);
    opacity:0.7;
  }
  
   25%
  {
    transform: translate(-3%, -3%) scale(0.85);
    opacity:0.2;
  }
  
   50%
  {
    transform: translate(3%, -3%) scale(0.93);
    opacity:0.5;
  }
  
   75%
  {
    transform: translate(3%, -3%) scale(0.9);
    opacity:0.7;
  }
  
   100%
  {
    transform: translate(-3%, 3%) scale(0.93);
    opacity:0.4;
  }
}


#content2 .free_container1 {
    text-align: center;
    border-style:1px solid #dddddd;
}

#content2 .free_container1::after
{
    background-color:#36bae8;
    z-index: -3;
    animation : backglow3 15s ease infinite;
}

#content2 .free_container1::after
{
  position: absolute;
  content : "";
  height:100%;
  width:33.3333%;
  border-radius:10%;
  opacity:0.7;
  filter: blur(60px);
}

#content2 .free_container1::before
{
    background-color:#22708a;
    z-index: -3;
    animation : backglow2 15s ease infinite;
}

#content2 .free_container1::before
{
  position:absolute;
  content : "";
  height:100%;
  right:35%;
  width:34%;
  border-radius:10%;
  opacity:0.6;
  filter: blur(60px);
}






#content2 .free_container1 .free_logo {
    margin-top: 19px;
}

#content2 .free_container2 .free_container2_textbox {
    display: block;
    width: 750px;
    height: 50px;
    margin: 0 auto;
    margin-top: 17px;
    box-shadow :1px 1px 1px 1px #dddddd;
    border-radius: 15px;
    background-color: white;
    color: black;
}

#content2 .free_container2 span {
    overflow: hidden;
    position: relative;
    top: 14px;
    left: 200px;
}

#content2 .free_container2 .fa-stumbleupon-circle {
    position: absolute;
    margin: 15px 0px 0px 25px;
    font-size: 20px;
    color: #0066b3;
}

#content2 .free_container2 .qimg2 {
    position: absolute;
    margin: 15px 0px 0px 450px;
}

#content2 .free_container2 .free_container2_textbox .topic {
    display: inline-block;
    margin-left: 50px;
    height: inherit;
    line-height: inherit;
}

#content2 .free_container2 .free_container2_textbox .date {
    display: inline-block;
    margin-left: 290px;
    height: inherit;
    line-height: 25px;
}

#content2 .free_container2 .free_container2_textbox:hover {
    background-color: #5ea0f9;
}

/*-----------------mediaquery half-----------------*/

#mobile{
    display: none;
}

@media (max-width: 1500px){
    #header{
        display: none;
    }
    
    #mobile{
        display: block;
        font-family: "Noto Sans CJK KR";
    }
    
    #mobile .moblie_notice{
        display: none;
    }
    
    #mobile .moblie_team{
        display: none;
    }
    
    #mobile .moblie_free{
        display: none;
    }
    
    #mobile .menu-toggle .fa-list{
        font-size: 40px;
        margin-left: 10px;
        cursor: pointer;
    }
    
    #mobile .menu-toggle img{
        height: 60px;
        display: block;
        margin: 0 auto;
        margin-top:20px;
    
    }
    
    #mobile .main-menu ul li {
        width: 100%;
        border: none;
        position: relative;
        
	}
	
	#mobile .menu-toggle {
	    display: flex;
        height: 100px;
        justify-content: space-between;
        align-items: center;
        margin-top: -10px;
        margin-bottom: 20px;
	}
	
	#mobile .main-menu {
	    position: fixed;
	    left: -400px;
	    overflow: auto;
	    -webkit-transition: all 0.3s;
	    -moz-transition: all 0.3s;
	    transition: all 0.3s;
	    right: 0;
	    height: 100%;
	    max-width: 300px;
	    z-index: 999;
	    bottom: 0;
	    padding-top: 40px;
	    top: 0;
	    background-color: #0066b3;
	}
	
	#mobile .main-menu.active {
	    left: 0%;
	}
	
	#mobile .top-close-menu {
	    text-align: center;
        line-height: 38px;
	    position: absolute;
	    top: 0;
	    z-index: 3;
	    right: 0;
	    width: 35px;
	    height: 35px;
	    background-color: #111;
	    background-size: 12px;
	    background-repeat: no-repeat;
	    background-position: center;
        color: #fff;
	}
    #mobile .main-menu.active {
        left: 0%;
    }

    #mobile .main-menu ul li {
        width: 100%;
        border: none;
        position: relative;
    }
    #mobile .main-menu ul li a {
        font-size: 16px;
        text-decoration: none;
        color: #fff;
        display: block;
        padding: 8px 20px;
        border-bottom: 1px solid #fff;
    }

    #mobile .main-menu ul{
      padding:0;
      margin:0;
    }
    
    
    #wrap #banner{
        margin-top: -170px;
    }
    
    #mobile button{
    margin: 1em auto;
  -webkit-appearance: none;
  border: 6px solid rgba(255,255,255,0.45);
  border-radius: 50px;
  padding: 1em 3em;
  background-repeat: no-repeat;
  background-size: 100%;
  background-clip: padding-box;
  position: absolute;
  color: #FFF;  
    right: 0;
    display: inline-block;
    margin-right: 10px;
    letter-spacing: 2px;
    cursor: pointer;
     width: 150px;
    margin-top: -20px;
}


#mobile button:before{
  content: "";
  width: 100%;
  height:100%;
  position: absolute;
  top: 5px;
  left: 5px;
  border-radius: 50px;
  z-index: -1;
  filter: blur(14px);    
}

#mobile button:after{
  content: "";
  width: 100%;
  height:100%;
  position: absolute;
  top: 5px;
  right: 5px;
  border-radius: 50px;
  z-index: -1;
  filter: blur(14px);    
}

#mobile button {
  background-image: linear-gradient(90deg, #7b81ec, #3bd1d3);
}
#mobile button:before {
  background-image: linear-gradient(90deg, #7b81ec, transparent);
}
#mobile button:after {
  background-image: linear-gradient(90deg, transparent, #3bd1d3);
}

#mobile .login{
    margin-right: 160px;
}
    
  

   
}

/*-----------------mediaquery mobile-----------------*/

@media (max-width: 576px){
    #wrap{
        display: none;
    }
    
    #mobile{
        display: block;
    }
    
    #mobile .moblie_notice{
        display: block;
    }
    
    #mobile .moblie_team{
        display: block;
    }
    
    #mobile .moblie_free{
        display: block;
    }
    
    #mobile .menu-toggle .fa-list{
        font-size: 40px;
        margin-left: 10px;
        cursor: pointer;
        position: absolute;
    }
    
    #mobile .menu-toggle img{
        height: 60px;
        display: block;
        margin: 0 auto;
        margin-top:20px;
    }
    
    #mobile .main-menu ul li {
        width: 100%;
        border: none;
        position: relative;
	}
	
	#mobile .menu-toggle {
	    display: block;

	}
	
	#mobile .main-menu {
	    position: fixed;
	    left: -400px;
	    overflow: auto;
	    -webkit-transition: all 0.3s;
	    -moz-transition: all 0.3s;
	    transition: all 0.3s;
	    right: 0;
	    height: 100%;
	    max-width: 300px;
	    z-index: 999;
	    bottom: 0;
	    padding-top: 40px;
	    top: 0;
	    background-color: #0066b3;
	}
	
	#mobile .main-menu.active {
	    left: 0%;
	}
	
	#mobile .top-close-menu {
	    text-align: center;
        line-height: 38px;
	    position: absolute;
	    top: 0;
	    z-index: 3;
	    right: 0;
	    width: 35px;
	    height: 35px;
	    background-color: #111;
	    background-size: 12px;
	    background-repeat: no-repeat;
	    background-position: center;
        color: #fff;
	}
    #mobile .main-menu.active {
        left: 0%;
    }

    #mobile .main-menu ul li {
        width: 100%;
        border: none;
        position: relative;
    }
    #mobile .main-menu ul li a {
        font-size: 16px;
        text-decoration: none;
        color: #fff;
        display: block;
        padding: 8px 20px;
        border-bottom: 1px solid #fff;
    }

    #mobile button{
        display: none;
    }
}
    
    /*-----------------content-----------------*/
    /*-----------------content-----------------*/
    #mobile .moblie_notice , .moblie_team , .moblie_free{
        border: 1px solid gray;
        margin-top:20px;
        height:250px; 
        background-color: #F2F2F2
    }
    
    #mobile .moblie_notice{
        margin-top: -40px;
    }
    
    #mobile .moblie_notice > a{
        display: block;
        text-align: center;
        text-decoration: none;
        font: bold 25px "Noto Sans CJK KR";
        color: darkblue;
        margin-top: 2%;
    }
    
    #mobile .moblie_notice .moblie_notice_textbox{
        display: block;
        margin-top: 4%;
        border-radius: 15px;
        background-color: white;
        height: 40px;
    }
    
    #mobile .moblie_notice .fa-stumbleupon-circle {
        position: absolute;
        margin: 2% 0% 0% 3%;
        font-size: 20px;
        color: royalblue;
}
    #mobile .moblie_notice .qimg2 {
        position: absolute;
        margin: 2% 0% 0% 20%;
}

    #mobile .moblie_notice .moblie_notice_textbox a.topic {
        display: inline-block;
        margin-left: 40%;
        height: inherit;
        line-height: inherit;
        text-decoration: none;

    }

    #mobile .moblie_notice .moblie_notice_textbox .date {
        display: inline-block;
        margin: 1% 0% 0% 30%;
        height: inherit;
        line-height: 25px;
}
    
    
    
    
    #mobile .moblie_team > a{
        display: block;
        text-align: center;
        text-decoration: none;
        font: bold 25px "Noto Sans CJK KR";
        color: darkblue;
        margin-top: 2%;
    }
    
    #mobile .moblie_team .moblie_team_textbox{
        display: block;
        margin-top: 4%;
        border-radius: 15px;
        background-color: white;
        height: 40px;
    }
    
    #mobile .moblie_team .fa-stumbleupon-circle {
        position: absolute;
        margin: 2% 0% 0% 3%;
        font-size: 20px;
        color: royalblue;
    }
    #mobile .moblie_team .qimg2 {
        position: absolute;
        margin: 2% 0% 0% 20%;
    }

    #mobile .moblie_team .moblie_team_textbox .topic {
        display: inline-block;
        margin-left: 40%;
        height: inherit;
        line-height: inherit;
        text-decoration: none;

    }

    #mobile .moblie_team .moblie_team_textbox .date {
        display: inline-block;
        margin: 1% 0% 0% 30%;
        height: inherit;
        line-height: 25px;
    }
    

    #mobile .moblie_free > a{
        display: block;
        text-align: center;
        text-decoration: none;
        font: bold 25px "Noto Sans CJK KR";
        color: darkblue;
        margin-top: 2%;
    }
    
    #mobile .moblie_free .moblie_free_textbox{
        display: block;
        margin-top: 4%;
        border-radius: 15px;
        background-color: white;
        height: 40px;
    }
    
    #mobile .moblie_free .fa-stumbleupon-circle {
        position: absolute;
        margin: 2% 0% 0% 3%;
        font-size: 20px;
        color: royalblue;
}
    #mobile .moblie_free .qimg2 {
        position: absolute;
        margin: 2% 0% 0% 20%;
}

    #mobile .moblie_free .moblie_free_textbox .topic {
        display: inline-block;
        margin-left: 40%;
        height: inherit;
        line-height: inherit;
        text-decoration: none;

}

    #mobile .moblie_free .moblie_free_textbox .date {
        display: inline-block;
        margin: 1% 0% 0% 30%;
        height: inherit;
        line-height: 25px;
}

}




















