#fullbox {
    margin: 0 auto;
    width: 500px;
    height: 800px;
}

#fullbox .logo {
    width: 300px;
    height: 200px;
    margin: 0 auto;
}

#fullbox .logo img {
    width: 200px;
    height: 150px;
    display: block;
    margin: 0 auto;
    margin-top: 30px;
}

#fullbox .id {
    display: block;
    margin: 0 auto;
    width: 400px;
    height: 40px;
}

#fullbox .password {
    display: block;
    margin: 0 auto;
    width: 400px;
    height: 40px;
    margin-top: 20px;
}

#fullbox .bt_login {
    display: block;
    margin: 0 auto;
    margin-top: 20px;
    width: 400px;
    height: 60px;
    background-color: navy;
    color: white;
}

#fullbox .join {
    margin-top: 20px;
    text-align: center;
}

#fullbox .join a {
    text-decoration: none;
    color: black;
}

input::placeholder {
    text-align: center;
}

#fullbox .footer{
    text-align: center;
}

#fullbox .logo2{
    display: inline;
}

#fullbox .logo2 img {
    width: 50px;
    height: 20px;
    margin: 0 auto;
    margin-top: 100px;
    display: inline;
}

#fullbox .footer small:nth-child(2){
    color: gray;
}
#fullbox .footer small:nth-child(3){
    color: black;
    font-weight: bold;
}
#fullbox .footer small:nth-child(4){
    color: gray;
}

