@charset "UTF-8";

body{
    background-image: url('/img/nature-4960792_1920.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

#wrap {
    width: 1920px;
    margin-left: -8px;
}

#header {
    width: 100%;
    margin: 0 auto;
    height: 110px;
    background-size: contain;
    background-color: white;
    box-shadow: 0px 10px 10px gray;
    position: fixed;
    top:0%;
}

#header .logo {
    top: 27px;
    width: 150px;
    height: 70px;
    margin-left: 500px;
    display: inline-block;
    position: relative;
}

#header .logo img {
    max-width: 100%;
    height: auto;
}

#header .logo_container {
    display: inline-block;
    position: relative;
    left: 70px;
    line-height: 100px;
    width: 746px;
    height: inherit;
    background-color: white;
}

#header .logo_container a {
    display: inline-block;
    width: 100px;
    font-size: 20px;
    text-align: center;
    margin: 0 20px;
    border: none;
    font-family: 'Nanum Gothic', sans-serif;
    text-decoration: none;
    font-weight: bold;
    box-sizing: border-box;
}

#header .logo_container a:nth-child(1):hover {
    border-bottom: 4px solid #009DE8;
    transition: all .4s;
}

#header .logo_container a:nth-child(2):hover {
    border-bottom: 4px solid #009DE8;
    transition: all .4s;
}

#header .logo_container a:nth-child(3):hover {
    border-bottom: 4px solid #009DE8;
    transition: all .4s;
}

#header .logo_container a:nth-child(4):hover {
    border-bottom: 4px solid #009DE8;
    transition: all .4s;
}

#header .logo_container a:nth-child(5):hover {
    border-bottom: 4px solid #009DE8;
    transition: all .4s;
}

/*-----------------header-----------------*/
/*-----------------header-----------------*/

/*background*/

#fullBox {
    margin: 0 auto;
    width: 1000px;
    height: 900px;
    z-index: 5;
    background-color: white;
    margin-top: 150px;
    box-shadow: 0px 0px 30px #000;
    overflow: scroll;
}

#fullBox .notice_table {
    border-top: 3px solid navy;
    border-collapse: collapse;
    width: 100%;
}

#fullBox .notice_table caption{
    font-size: 30px;
    font-weight: 1000;
    padding-top: 40px;
    padding-bottom: 10px;
}

#fullBox .notice_table .fa-clipboard{
    margin-right: 10px;
}

#fullBox .notice_table a {
    text-decoration: none;
    color: black;
}

#fullBox .notice_table th,
td {
    padding: 10px;
}

#fullBox .notice_table tr {
    border-bottom: 1px solid #ccc;
}

#fullBox .notice_table td {
    text-align: center;
}


#fullBox .notice_table .title {
    text-align: left;
}

#fullBox .notice_table .title:hover {
    text-decoration: underline;
}

#fullBox .page {
    margin-top: 20px;
    font-size: 0;
    text-align: center;
}

#fullBox .page a {
    display: inline-block;
    text-decoration: none;
    color: black;
    margin-left: 10px;
    font-size: 12px;
    padding: 5px 10px;
    border-radius: 100px;
}

#fullBox .page a:first-child {
    margin-left: 0px;
}

#fullBox .page a.bt {
    border: 1px solid #eee;
    background: #eee;
}

#fullBox .page a.num {
    border: 1px solid navy;
    font-weight: 600;
    color: navy;
}

#fullBox .page a.num.on {
    background: navy;
    color: white;
}
#fullBox .page .pageNum{
    display: inline-block;
    margin-left: 10px;
}

/*-----------------fullBox-----------------*/
/*-----------------fullBox-----------------*/




/*
#fullBox .noticeBox .noticeBox_header{border-top: 2px solid black;}

#fullBox .noticeBox .noticeBox_list{display: table; border-top: 2px solid black; border-bottom: 2px solid black; border-collapse: collapse; width: 1000px;}
*/
