@charset "UTF-8";



body{
    background: linear-gradient(to bottom left, #bfe0f8, #fff);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    font-family: "Noto Sans CJK KR";
}



/*-----------------header-----------------*/
/*-----------------header-----------------*/

#header {
    width: 102%;
    height: 110px;
    background-size: contain;
    background-color: white;
    box-shadow: 0px 3px 3px #dddd;
    top:0%;
    position: fixed;
    margin-left: -20px;
      z-index:1;
      text-align:center;
}

#header .header_container{
   margin: 0 auto;
   display:inline-block;
   height : inherit;
   width : 920px;

}

#header .logo {
    top: 27px;
    width: 150px;
    height: 70px;
    display: inline-block;
    position: relative;
}

#header .logo img {
    max-width: 100%;
    height: auto;
}

#header .logo_container {
    display: inline-block;
    position: relative;
    line-height: 100px;
    width: 746px;
    height: inherit;
 
    margin-left:17px;
}

#header .logo_container a {
    display: inline-block;
    width: 100px;
    font-size: 20px;
    text-align: center;
    margin: 0 20px;
    border: none;
    font-family: 'Nanum Gothic', sans-serif;
    text-decoration: none;
    font-weight: bold;
    box-sizing: border-box;
    color: black;
    line-height: 110px;
    
}

#header .logo_container a:nth-child(1):hover {
    border-bottom: 4px solid #009DE8;
    transition: all .4s;
}

#header .logo_container a:nth-child(2):hover {
    border-bottom: 4px solid #009DE8;
    transition: all .4s;
}

#header .logo_container a:nth-child(3):hover {
    border-bottom: 4px solid #009DE8;
    transition: all .4s;
}

#header .logo_container a:nth-child(4):hover {
    border-bottom: 4px solid #009DE8;
    transition: all .4s;
}

#header .logo_container a:nth-child(5):hover {
    border-bottom: 4px solid #009DE8;
    transition: all .4s;
}


/*-----------------fullbox-----------------*/
/*-----------------fullbox-----------------*/
#fullBox {
    margin: 0 auto;
    width: 1000px;
    height: 900px;
    z-index: 5;
    background-color: white;
    margin-top: 110px;
    box-shadow: 0px 0px 15px #000;
}

#fullBox .notice_table thead tr th:nth-child(1){
    width: 100px;
}

#fullBox .notice_table thead tr th:nth-child(2){
    width: 500px;
    text-align: left;
   	text-indent:8.5em;
}

#fullBox .notice_table thead tr th:nth-child(3){
    
}

#fullBox .notice_table thead tr th:nth-child(4){
    
}


#fullBox .notice_table {
    border-top: 3px solid #009DE8;
    border-collapse: collapse;
    width: 100%;
    table-layout: fixed;
}

#fullBox .notice_table caption{
    font-size: 30px;
    font-weight: bold;
    padding-top: 32px;
    padding-bottom: 30px;
	letter-spacing:1px;
}

#fullBox .notice_table .fa-clipboard{
    margin-right: 10px;
}

#fullBox .notice_table a {
    text-decoration: none;
    color: black;
}

#fullBox .notice_table a:hover{
	text-decoration:none;
}



#fullBox .notice_table th,td {
    padding: 10px;
}

#fullBox .notice_table tr {
    border-bottom: 1px solid #ccc;
}

#fullBox .notice_table td {
    text-align: center;
    
}


#fullBox .notice_table .title {
    text-align: left;
    text-indent: 3em;
}



#fullBox .page {
    margin-top: 20px;
    font-size: 0;
    text-align: center;
}

#fullBox .page a {
    display: inline-block;
    text-decoration: none;
    color: black;
    margin-left: 10px;
    font-size: 12px;
    padding: 5px 10px;
    border-radius: 100px;
}

#fullBox .page a:first-child {
    margin-left: 0px;
}

#fullBox .page a.bt {
    border: 1px solid #eee;
    background: #eee;
}

#fullBox .page a.num {
    border-style: none;
    box-shadow: 1px 1px 1px 1px skyblue;
    font-weight: 600;
    color: black;
}

#fullBox .page .pageNum{
    display: inline-block;
    margin-left: 10px;
}

#fullBox .page form{
    margin-top : 10px;
}

#fullBox .page .searchTerm {
  width: 150px;
  border: 3px solid #009DE8;
  border-right: none;
  padding: 5px;
  height: 26px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: black;
  margin-left: -40px;
  margin-top: 7px;
}



#fullBox .page .searchButton {
  width: 35px;
  height: 26px;
  border: 1px solid #009DE8;
  background: #009DE8;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
  position: absolute;
  margin-top: 7px;
}
#fullBox .page #search{
	display:inline-block;
	position:relative;
	width:200px;
}

#fullBox .page .writeDesign{
	height:26px;
}

#fullBox .page .write{
    padding: .5em .75em; 
    color: whitesmoke; 
    font-size: inherit; 
    line-height: normal;  
    background-color: dodgerblue; 
    cursor: pointer; 
    border: 1px solid dodgerblue; 
    border-radius: .25em;
    letter-spacing: 1px;
    text-shadow: 0px -2px #2980B9;
}

#fullBox .page .write:active{
    transition: all 0.1s;
   -webkit-transition: all 0.1s;
   transform: translate(0px,5px);
    -webkit-transform: translate(0px,5px);
   border-bottom: 1px solid;
}

/*-----------------mobile-----------------*/
/*-----------------mobile-----------------*/
#mobile{
    display: none;
}

@media (max-width: 1281px){
    #wrap #header{
        display: none;
    }
    
    body{
        background: none;
    }
    
    #mobile{
        display: inline-block;
        width: 100%;
    }
    
    #mobile table{
        display: none;
    }
    
    #mobile .page{
        display: none;
    }
    
    #mobile > div:nth-child(1){
        text-align: center;
        height: 100px;
    }
    
    #mobile .menu-toggle{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    #mobile .menu-toggle img{
        height: 60px;
        margin-top:20px;
    }
    
    #mobile .menu-toggle .fa-list{
        position: absolute;
        font-size: 40px;
        margin-top: 2.3%;
        margin-left: 20px;
        left: 0;
        cursor: pointer;
    }
    
    /*-----------------mobile menu slider-----------------*/
    /*-----------------mobile menu slider-----------------*/
    #mobile .main-menu ul li {
        width: 100%;
        border: none;
        position: relative;
   }
   
   #mobile .menu-toggle {
       display: block;
   }
   
   #mobile .main-menu {
       position: fixed;
       left: -400px;
       overflow: auto;
       -webkit-transition: all 0.3s;
       -moz-transition: all 0.3s;
       transition: all 0.3s;
       right: 0;
       height: 100%;
       max-width: 300px;
       z-index: 999;
       bottom: 0;
       padding-top: 40px;
       top: 0;
       background-color: #0066b3;
   }
   
   #mobile .main-menu.active {
       left: 0%;
   }
   
   #mobile .top-close-menu {
       text-align: center;
        line-height: 38px;
       position: absolute;
       top: 0;
       z-index: 3;
       right: 0;
       width: 35px;
       height: 35px;
       background-color: #111;
       background-size: 12px;
       background-repeat: no-repeat;
       background-position: center;
        color: #fff;
        cursor: pointer;
   }

    #mobile .main-menu ul li {
        width: 100%;
        border: none;
        position: relative;
    }
    
    #mobile .main-menu ul li a {
        font-size: 16px;
        text-decoration: none;
        color: #fff;
        display: block;
        padding: 8px 20px;
        border-bottom: 1px solid #fff;
    }

    #mobile .main-menu ul{
      padding:0;
      margin:0;
    }
    
    #fullBox{
        margin: 20px auto 0 auto;
    }
    
    #fullBox .page form{
        right: 0;
        margin-right: 30px;
    }
}

@media (max-width: 990px){
	
#fullBox{
        margin-left: -35px;
    }
	}

@media (max-width: 576px){
    #wrap{
        display: none;
    }
    
    body{
        background: none;
    }
    
    #mobile{
        display: inline-block;
        width: 100%;
    }
    
    #mobile table{
        display: table;
    }
    
    #mobile .page{
        display: block;
    }
    
    #mobile > div:nth-child(1){
        text-align: center;
        height: 100px;
    }
    
    #mobile .menu-toggle img{
        height: 60px;
        margin-top:20px;
        
    }
    
    #mobile .menu-toggle .fa-list{
        position: absolute;
        font-size: 40px;
        margin-top: 4%;
        cursor: pointer;
    }
    
    /*-----------------mobile menu slider-----------------*/
    /*-----------------mobile menu slider-----------------*/
    #mobile .main-menu ul li {
        width: 100%;
        border: none;
        position: relative;
   }
   
   #mobile .menu-toggle {
       display: block;
   }
   
   #mobile .main-menu {
       position: fixed;
       left: -400px;
       overflow: auto;
       -webkit-transition: all 0.3s;
       -moz-transition: all 0.3s;
       transition: all 0.3s;
       right: 0;
       height: 100%;
       max-width: 300px;
       z-index: 999;
       bottom: 0;
       padding-top: 40px;
       top: 0;
       background-color: #0066b3;
   }
   
   #mobile .main-menu.active {
       left: 0%;
   }
   
   #mobile .top-close-menu {
       text-align: center;
        line-height: 38px;
       position: absolute;
       top: 0;
       z-index: 3;
       right: 0;
       width: 35px;
       height: 35px;
       background-color: #111;
       background-size: 12px;
       background-repeat: no-repeat;
       background-position: center;
        color: #fff;
        cursor: pointer;
   }

    #mobile .main-menu ul li {
        width: 100%;
        border: none;
        position: relative;
    }
    
    #mobile .main-menu ul li a {
        font-size: 16px;
        text-decoration: none;
        color: #fff;
        display: block;
        padding: 8px 20px;
        border-bottom: 1px solid #fff;
    }

    #mobile .main-menu ul{
      padding:0;
      margin:0;
    }

    /*-----------------mobile body-----------------*/
    /*-----------------mobile body-----------------*/
    #mobile > table{
        margin: 0 auto;
        margin-top: 20px;
        border-top: 3px solid navy;
        border-collapse: collapse;
        width: 100%;
    }
    
    #mobile > table > caption{
        font-size: 25px;
    	font-weight: bold;
    	padding-top: 12px;
    	padding-bottom: 10px;
		letter-spacing:1px;
    }
    
    #mobile > table > tbody > tr{
        text-align: center;
        border-bottom: 1px solid #ccc;
        border-top: 1px solid #ccc;
    }
    
    #mobile > table > tbody > tr a{
        text-decoration: none;
        color: black;
    }
    
    #mobile .page {
    margin-top: 20px;
    font-size: 0;
    text-align: center;
}

    #mobile .page a {
        display: inline-block;
        text-decoration: none;
        color: black;
        margin-left: 10px;
        font-size: 12px;
        padding: 5px 10px;
        border-radius: 100px;
    }

    #mobile .page a:first-child {
        margin-left: 0px;
    }

    #mobile .page a.bt {
        border: 1px solid #eee;
        background: #eee;
    }

    #mobile .page a.num {
        border: 1px solid navy;
        font-weight: 600;
        color: navy;
    }

    #mobile .page a.num.on {
        background: navy;
        color: white;
    }
    #mobile .page .pageNum{
        display: inline-block;
        margin-left: 10px;
    }
    
    
    
    
}