body{
    background-image: url("/img/background_dinner2.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    font-family: "Noto Sans CJK KR";
}

#fullbox {
    margin: 0 auto;
    width: 500px;
    height: 1000px;
}

#fullbox .logo {
    width: 300px;
    height: 200px;
    margin: 0 auto;
}

#fullbox .logo img {
    width: 250px;
    height: 110px;
    display: block;
    margin: 0 auto;
    margin-top: 50px;
}

#fullbox .id {
    display: block;
    margin: 0 auto;
    width: 400px;
    height: 40px;
    border: 2px solid #eee;
}

#fullbox .password {
    display: block;
    margin: 0 auto;
    width: 400px;
    height: 40px;
    margin-top: 20px;
    border: 2px solid #eee;
}

#fullbox .bt_login {
    display: block;
    margin: 0 auto;
    margin-top: 20px;
    width: 400px;
    height: 60px;
    background-color: #009DE8;
    color: white;
    cursor: pointer;
    border: none;
    border-bottom: 5px solid #2980B9;
	text-shadow: 0px -2px #2980B9;
}

#fullbox .bt_login:active{
    transition: all 0.1s;
	-webkit-transition: all 0.1s;
	transform: translate(0px,5px);
    -webkit-transform: translate(0px,5px);
	border-bottom: 1px solid;
}


#fullbox .join {
    margin-top: 20px;
    text-align: center;

}

#fullbox .join a {
    text-decoration: none;
    color: white;
}

input::placeholder {
    text-align: center;
}


