@charset "UTF-8";

body{
    background-image: url('/img/old-newspaper-350376_1920.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    font-family: "Noto Sans CJK KR";
}

#wrap {
    width: 1920px;
    height: 1000px;
    margin-left: -8px;
    position: relative;
    
}

#header {
    width: 100%;
    margin: 0 auto;
    height: 110px;
    background-size: contain;
    background-color: white;
    box-shadow: 0px 3px 3px #dddd;
    top:0%;
    position: fixed;
}

#header .logo {
    top: 27px;
    width: 150px;
    height: 70px;
    margin-left: 500px;
    display: inline-block;
    position: relative;
}

#header .logo img {
    max-width: 100%;
    height: auto;
}

#header .logo_container {
    display: inline-block;
    position: relative;
    left: 70px;
    line-height: 100px;
    width: 746px;
    height: inherit;
    background-color: white;
}

#header .logo_container a {
    display: inline-block;
    width: 100px;
    font-size: 20px;
    text-align: center;
    margin: 0 20px;
    border: none;
    font-family: 'Nanum Gothic', sans-serif;
    text-decoration: none;
    font-weight: bold;
    box-sizing: border-box;
}

#header .logo_container a:nth-child(1):hover {
    border-bottom: 4px solid #009DE8;
    transition: all .4s;
}

#header .logo_container a:nth-child(2):hover {
    border-bottom: 4px solid #009DE8;
    transition: all .4s;
}

#header .logo_container a:nth-child(3):hover {
    border-bottom: 4px solid #009DE8;
    transition: all .4s;
}

#header .logo_container a:nth-child(4):hover {
    border-bottom: 4px solid #009DE8;
    transition: all .4s;
}

#header .logo_container a:nth-child(5):hover {
    border-bottom: 4px solid #009DE8;
    transition: all .4s;
}
/*-----------------header-----------------*/
/*-----------------header-----------------*/

#fullbox{
    width: 1000px;
    height: 800px;
    background-color: white;
    border: 1px solid white;
    box-shadow: 0px 0px 30px #000;
    margin: 0 auto;
    display: block;
    margin-top : 110px;
    
}

#fullbox .contentbox{
    width: 800px;
    height: 700px;
    margin: 0 auto; 
}

#fullbox .contentbox .head{
    text-align: left;
    margin-top: 20px;
    font-size: 20px;
    color : #009DE8;
    border-bottom: 1px solid #009DE8;
    margin-top: 50px;
}

#fullbox .contentbox .title_put{
    margin-top: 20px;
    width: 800px;
    height: 25px;
}

#fullbox .contentbox .content_put{
    width: 800px;
    height: 470px;
    margin-top: 20px;
    overflow: scroll;
}


#fullbox .contentbox .ok{
    margin-top: 20px;
    margin-left: 340px;
}

#fullbox .contentbox .cancle{
    margin-left: 20px;
}



