body{
    font-family: "Noto Sans CJK KR";
    background: linear-gradient(to bottom left, #bfe0f8, #fff);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

#header {
    width: 9999px;
    margin: 0 auto;
    height: 110px;
    background-size: contain;
    background-color: white;
    box-shadow: 0px 3px 3px #dddd;
    top:0%;
    position: fixed;
    margin-left: -20px;
}

#header .logo {
    top: 27px;
    width: 150px;
    height: 70px;
    margin-left: 500px;
    display: inline-block;
    position: relative;
}

#header .logo img {
    max-width: 100%;
    height: auto;
}

#header .logo_container {
    display: inline-block;
    position: relative;
    left: 70px;
    line-height: 100px;
    width: 746px;
    height: inherit;
    background-color: white;
}

#header .logo_container a {
    display: inline-block;
    width: 100px;
    font-size: 20px;
    text-align: center;
    margin: 0 20px;
    border: none;
    font-family: 'Nanum Gothic', sans-serif;
    text-decoration: none;
    font-weight: bold;
    box-sizing: border-box;
    color: black;
    line-height: 110px;
    
}

#header .logo_container a:nth-child(1):hover {
    border-bottom: 4px solid #009DE8;
    transition: all .4s;
}

#header .logo_container a:nth-child(2):hover {
    border-bottom: 4px solid #009DE8;
    transition: all .4s;
}

#header .logo_container a:nth-child(3):hover {
    border-bottom: 4px solid #009DE8;
    transition: all .4s;
}

#header .logo_container a:nth-child(4):hover {
    border-bottom: 4px solid #009DE8;
    transition: all .4s;
}

#header .logo_container a:nth-child(5):hover {
    border-bottom: 4px solid #009DE8;
    transition: all .4s;
}



/*-----------------header-----------------*/
/*-----------------header-----------------*/


#fullbox{
    margin: 0 auto;
    width: 1000px;
    height: 900px;
    background-color: white;
    border: 1px solid white;
    margin-top: 110px;
    box-shadow: 0px 0px 30px #eee;
    display: block;
}


#fullbox .contentbox{
    width: 800px;
    height: 700px;
    margin: 0 auto;  
}

#fullbox .contentbox .title{
    margin-top: 20px;
    border-bottom: 1px solid #009DE8;
}

#fullbox .contentbox .title span{
    font-size: 20px;
}

#fullbox .contentbox .writer{
    margin-top: 10px;
    font-size: 15px;
}

#fullbox .contentbox .text{
    width: 800px;
    height: 600px;
    margin-top: 40px;
    border: 1px 1px 1px 1px #ddd;
    box-shadow: 2px 2px 2px 2px #eee;
}

/*
#fullbox .contentbox .comment_Box{
    width: 800px;
    height: 110px;
    background-color: #dddd;
    position: relative;
}*/

#fullbox .contentbox textarea{
    width: 650px;
    height: 50px;
    margin-top: 20px;
    margin-left: 20px;
    display:inline-block
}

#fullbox .contentbox .upload{
    width: 70px;
    height: 56px;
    position: absolute;
    margin-top : 20px;
    margin-left: 3px;
}

*{
  box-sizing:border-box;
  padding:0;
  margin:0;
}
.cmt1{
  margin-bottom:10px;
}

.delete,.edit{
  cursor:pointer;
  color:green;
}

.comment_Box{
  margin: 0 auto;
    margin-top : 10px;
 }

.comentTxt{
  color:#409bc8;
  font-size:20px;
  font-weight:bold;
    margin-left: 20px;
 }
.commentline{
  border:1px solid #409bc8;
background-color:#182248;
  width:100%;
  height:100px;
  resize:none;
  padding:4px;
  color:white;
  font-size:16px;
}
.btn{
  background-color:#409bc8;
  cursor:pointer;
  width:60px;
  height:50px;
  float:right;
  border:none;
  color:white;
    position: absolute;
    margin-top: 20px;
    letter-spacing: 1px;
 }
.btn,.commentline:active, .btn,.commentline:focus{
  outline:none;
  
}
.clear{
  clear:both;
}
.clear:after{
  
}

/*mediaquery*//*mediaquery*//*mediaquery*//*mediaquery*/
/*mediaquery*//*mediaquery*//*mediaquery*//*mediaquery*/

#mobile{
    display: none;
}

@media (max-width: 1500px){
    body{
        background: none;
    }
    
    #wrap #header{
        display: none;
    }
    
    #mobile{
        display: block;
    }
    
    #mobile .menu-toggle .fa-list{
        font-size: 40px;
        margin-left: 10px;
        cursor: pointer;
        position: absolute;
    }
    
    #mobile .menu-toggle img{
        height: 60px;
        display: block;
        margin: 0 auto;
        margin-top:20px;
    }
    
    #mobile .main-menu ul li {
        width: 100%;
        border: none;
        position: relative;
	}
	
	#mobile .menu-toggle {
	    display: block;
        height: 100px;
	}
	
	#mobile .main-menu {
	    position: fixed;
	    left: -400px;
	    overflow: auto;
	    -webkit-transition: all 0.3s;
	    -moz-transition: all 0.3s;
	    transition: all 0.3s;
	    right: 0;
	    height: 100%;
	    max-width: 300px;
	    z-index: 999;
	    bottom: 0;
	    padding-top: 40px;
	    top: 0;
	    background-color: #0066b3;
	}
	
	#mobile .main-menu.active {
	    left: 0%;
	}
	
	#mobile .top-close-menu {
	    text-align: center;
        line-height: 38px;
	    position: absolute;
	    top: 0;
	    z-index: 3;
	    right: 0;
	    width: 35px;
	    height: 35px;
	    background-color: #111;
	    background-size: 12px;
	    background-repeat: no-repeat;
	    background-position: center;
        color: #fff;
	}
    #mobile .main-menu.active {
        left: 0%;
    }

    #mobile .main-menu ul li {
        width: 100%;
        border: none;
        position: relative;
    }
    #mobile .main-menu ul li a {
        font-size: 16px;
        text-decoration: none;
        color: #fff;
        display: block;
        padding: 8px 20px;
        border-bottom: 1px solid #fff;
    }

    #mobile .main-menu ul{
        padding:0;
        margin:0;
    }
    
    #fullbox{
        margin-top: 0px;
        margin-left: -7px;
        margin: 0 auto;
    }
}

@media (max-width: 576px){
    #fullbox{
        width: auto;
    }
    
    #fullbox .contentbox .text span{
        display: inline-block;
        width: 100px;
        margin-left: 30px;
    }
    
    #fullbox .contentbox .comment_Box{
        width: 58%;
        display: flex;
        justify-content: space-between;
    }
    
    #fullbox .contentbox .comment_Box form{
        display: inline-block;
        width: inherit;
    }
    
    #fullbox .contentbox .comment_Box textarea{
        width: 330px;
        display: inline-block;
    }
    
    #fullbox .contentbox .comment_Box input{
        display: inline-block;
        width: 50px;
        right: 0;
        margin-top: -59px;
    }
    
    
}






