#header {
    width: 9999px;
    margin: 0 auto;
    height: 110px;
    background-color: white;
    box-shadow: 0px 3px 3px #dddd;
    top:0%;
    position: fixed;
    margin-left: -20px;
}

#header .logo {
    top: 27px;
    width: 150px;
    height: 70px;
    margin-left: 500px;
    display: inline-block;
    position: relative;
}

#header .logo img {
    max-width: 100%;
    height: auto;
}

#header .logo_container {
    display: inline-block;
    position: relative;
    left: 70px;
    line-height: 100px;
    width: 746px;
    height: inherit;
    background-color: white;
}

#header .logo_container a {
    display: inline-block;
    width: 100px;
    font-size: 20px;
    text-align: center;
    margin: 0 20px;
    border: none;
    font-family: 'Nanum Gothic', sans-serif;
    text-decoration: none;
    font-weight: bold;
    box-sizing: border-box;
    color: black;
}

#header .logo_container a:nth-child(1):hover {
    border-bottom: 4px solid #009DE8;
    transition: all .4s;
}

#header .logo_container a:nth-child(2):hover {
    border-bottom: 4px solid #009DE8;
    transition: all .4s;
}

#header .logo_container a:nth-child(3):hover {
    border-bottom: 4px solid #009DE8;
    transition: all .4s;
}

#header .logo_container a:nth-child(4):hover {
    border-bottom: 4px solid #009DE8;
    transition: all .4s;
}

#header .logo_container a:nth-child(5):hover {
    border-bottom: 4px solid #009DE8;
    transition: all .4s;
}
/*header*//*header*//*header*//*header*//*header*//*header*/
/*header*//*header*//*header*//*header*//*header*//*header*/

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box
}

body{
    background: url("/img/background_dinner2.jpg");
    background-repeat: no-repeat;
    background-size: 100% 110%;
    font-family: "Noto Sans CJK KR";
}

.contact {
    width: 400px;
    margin: 0 auto;
    margin-top : 200px;
    box-shadow: 0 0 15px 3px rgba(0,0,0,.2);
}

.contact .head {
    padding: 30px;
    background-color: #009DE8;
    color: #fefefe;
}

.contact .head h3 { 
    margin: 0;
    text-align: center;
    font-size: 25px;
    letter-spacing: 2px;
}

.contact form {
    padding: 30px;
    background-color: #fff;
}

.contact form label { 
    display: block;
    margin-bottom: 5px;
    letter-spacing: 1px;
    color: black;
}

.contact form > input {
    height: 32px;
    margin-bottom: 20px
}

.contact form > input{
    width: 100%;
    padding: 10px;
    border: 2px solid #eee;
}

.contact form button {
    display: block;
    width: 80%;
    height: 50px;
    margin: 0 auto;
    letter-spacing: 1px;
    background: #009DE8;
    color: #fefefe;
    cursor: pointer;
    border: none;
    border-bottom: 5px solid #2980B9;
    text-shadow: 0px -2px #2980B9;
}

.contact form button:active{
    transition: all 0.1s;
	-webkit-transition: all 0.1s;
	transform: translate(0px,5px);
    -webkit-transform: translate(0px,5px);
	border-bottom: 1px solid;
}
